
.book-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 1em; 
}

.book-image {
    width: 150px;
    height: 240px;
    border: solid rgb(239, 17, 17) 2px;
    margin: 0.3em;
    cursor: pointer;
}

/* Additional styling for other text elements if needed */
.book-card p {
    margin: 0.3em; /* Adjust margin for paragraphs */
}