/* Login.css */

.user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 53px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
  
  .user-form h2 {
    margin-bottom: 20px;
  }
  
  .user-form input[type="text"],
  .user-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f40202;
    border-radius: 4px;
  }
  
  .user-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #f60909;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .user-form input[type="submit"]:hover {
    background-color: #b30000;
  }