/* .reviews {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 1em; 
    margin-bottom: 1em; 
} */

.reviews {
    border: 1px solid #E91E63;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin-top: 15px;
}

.tiny-book-image {
    width: 43px;
    height: 59px;
    border: solid rgb(239, 17, 17) 2px;
    margin: 0.3em;
    cursor: pointer;
}

.reviews p {
    margin: 0; /* Remove default margin for paragraphs */
}

.reviews .reviewer {
    grid-column: 1 / 2; /* Place the reviewer in the first column */
    grid-row: span 2; /* Span two rows for the reviewer */
}

.book-name {
    font-weight: bold; /* Make book name bold, adjust as needed */
}

.reviews .rating {
    grid-column: 2 / 3; /* Place the rating in the second column */
}

.reviews .comment {
    grid-column: 1 / -1; /* Span across all columns */
}

.reviews .created-at {
    justify-self: end; /* Align to the end (right) within its grid cell */
}