body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

nav {
  background: linear-gradient(to right, #f70404, #ff4548);
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100vw;
}

.profilecart {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 2%;
  padding-right: 2%;
}

.profilecart-image {
  margin: 0;
  padding: 12px;
  display: flex;
  height: 29px;
}

.search {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.logo {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 1%;  /* Changed from 15px to 1% */
}

a {
  text-decoration: none;
}

.book-container {
  display: flex;
}


@media screen and (max-width: 768px) {
  nav {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 1%;  /* Changed from 10px 20px to 1% */
    width: 100vw;
  }
}